RewriteEngine On
RewriteBase /
RewriteRule ^(cms)($|/) - [L]
RewriteRule ^(install)($|/) - [L]
RewriteCond %{REQUEST_URI}  !^(\.png|\.jpg|\.gif|\.jpeg|\.bmp)/$
RewriteCond %{REQUEST_URI}  !^(.*)/filemanager/(.*)$
RewriteRule (.*.html|.*.php|.*.htm)  cms_worker.php?page=$1 [QSA]