html, body, div, p, a {
    font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none; }

/* Header Start */

.header {
    padding: 5px 0;
}

.header .logo img {
    max-width: 300px;
}

/* Header End */

/* Footer Start */

.footer {
    background: #0A344A;
}

.footer p {
    color: #FFFFFF;
    padding: 15px 0;
}

.footer .topFooter {
    background: #F7F7F7;
    text-align: center;
}
.footer .topFooter div {
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer .topFooter ul { margin-bottom: 0;}

.footer .topFooter img {
    max-width: 300px;
    width: 100%
}

/* Footer End */


@media (min-width: 800px) {
    /* Header Starts */

    .header {
        padding: 5px 30px;
    }

    .header .logo
    {
        float: left;
    }

    /* Header Ends */

    /* Footer Starts */

    .footer .topFooter {
        padding-bottom: 10px;
        padding-top: 10px; 
    }

    /* Footer Ends */
}